.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    width: 25rem;
    height: 40rem;
    border-radius: 20px;
    text-align: center;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}

.perfilImg {
    max-width: 7rem;
    border-radius: 5rem;
    margin: 0 auto;
    box-shadow: 0px 24px 36px -16px rgba(0,0,0,0.9);
}

.containerBtn {
    display: grid;
    margin-top: 2rem;
    gap: 1.5rem;
}

.followButton {
    margin: .5rem 1rem;
    padding: .125rem .5rem;
}

