* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #428CD1;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
}

p {
    font-size: 1rem;
    font-weight: 200;
}

p, h1 {
    border-bottom: 2px solid #428CD1;
    margin: 1rem 0;
}