* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #428CD1;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0;
}

p {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}

p, h1 {
    display: inline-block;
    height: 2rem;
    vertical-align: center;
    border-bottom: 1px solid #428CD1;
    margin: 1rem 0;
}